Applications/
Applications (Parallels)/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Nextcloud/
NoBackup/
Pictures/
Public/
SpiderOak Hive/
TestCafeStudio/
bin/
go/
iCloud Drive (Archive)/
pkg/
vim-backup/
.3T/
.CFUserTextEncoding
.IdeaIC14/
.IdeaIC15/
.adobe/
.aspnet/
.atom/
.aws/
.babel.json
.bash_history
.bash_sessions/
.bitcoinlib/
.bundle/
.cabal/
.cache/
.cargo/
.cocoapods/
.composer/
.config/JetBrains/
.config/NuGet/
.config/ariadne/
.config/configstore/
.config/darktable/
.config/exercism/
.config/ff/
.config/gatsby/
.config/htop/
.config/truffle/
.config/xbuild/
.config/yarn/
.cups/
.dart/
.dartServer/
.dlv/
.docker/
.dotnet/
.dropbox/
.dvdcss/
.electron/
.finda/
.flutter
.gem/
.gemrc
.ghc/
.gitkraken/
.gnupg/
.gnupg_pre_2.1/
.hex/
.hgignore_global
.hgrc
.histfile
.hyper_plugins/
.idea-build/
.ideaLibSources/
.idlerc/
.idris/
.ionic/
.ipython/
.iterm2/
.ivy2/
.jsonresume.json
.jspm/
.kube/
.lesshst
.lldb/
.local/
.macports/
.mix/
.mono/
.msf4/
.myports.txt
.netlify/
.ngrok2/
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nuget/
.nvm/
.oh-my-zsh/
.oracle_jre_usage/
.pgAdmin4.startup.log
.pgadmin/
.psql_history
.pub-cache/
.pylint.d/
.python_history
.react-native-cli/
.rediscli_history
.requested.txt
.rncache/
.rustup/
.sbt/
.scala_history
.ssh/
.stack/
.subversion/
.templateengine/
.termbacktime.json
.texlive2018/
.tooling/
.v8flag*
.vim/
.vim_mru_files
.vim_runtime/
.viminfo
.vimrc
.vscode-react-native/
.vscode/
.vue-cli-ui/
.vuerc
.wget-hsts
.yandex/
.yarn/
.yarnrc
.yjp/
.zcompdump
.zinit/
.zprofile
.zsh_history
.zshrc_backup
DV Lottery-nov-2018.gpg
json-formatted.json
.zcompdump-Den*
